
@media ( min-width: 1200px ) {
  .toolbar-mode .col-md-5 {
    width: 43.666667%;
    padding-right: 5px;
    margin: 7px 0px;
  }
  .toolbar-mode .col-md-3 {
    width: 23%;
  }
  .col-md-7.product-shop { width: 55.5%;}
  .col-md-5.product-img-box {  width: 44.5%;}

}
@media (max-width: 1199px) and (min-width: 1025px) {
  .nav-tabs > li > a {
    padding: 0 10px;
  }
}
@media (max-width: 1199px) {
  .block-title h2 {
    font-size: 14px;
  }
  .home-social {
    padding: 0 15px 30px;
    text-align: center;
  }
  .newsletter {
    padding: 30px 0;
  }
  #block-home-icon .static-block {
    display: block;
    padding-left: 0;
    text-align: center;
    padding-top: 10px;
  }
  .product-featured-content .tabs-content .owl-item {
    padding: 0 5px;
  }
  .flex-direction-nav{top:45%;margin-top:0 !important}
  .product-quickview .product-content{width:70%}
  .slideshow .content-link .link {margin-top: 45px;}
  .ajax-success-cbox .content{width:600px}
  .ajax-success-cbox .content .mesage-cart{padding-top:7px}
}


@media (min-width: 768px) and (max-width: 900px) {
  body .product-list-item .short-description {
    display: none;
  }
  .header-top-right i, .top-currency .dropdown-icon i{    font-size: 22px;width:20px}
  .menu-action .site-nav > li > a{padding-left:2px !important;padding-right:2px}
  .flex-direction-nav{top:50%;margin-top:-15px}
  .flex-direction-nav li a{width:30pxheight:30px}
  .main-slideshow .flexslider .flex-direction-nav a:before{font-size: 24px; position: relative; bottom: 10px;}

}
@media (min-width: 768px) and (max-width: 800px) {
  body #popup-newsletter .popupnewsletter{width:700px;}
}
@media (min-width: 768px) and (max-width: 990px) {
  body .banner-slide .feature-wrap-content .features-item-2{height: 352px;margin-bottom: 0;}
  .main-content .block-top iframe {height:172px!important;}
  .main-blog .owl-theme .owl-controls{margin-bottom:15px;}
  .main-blog .owl-theme .owl-controls .owl-buttons div{margin:0 6px;}
}

@media (max-width: 767px){
  .grid-item .add-to-link,.quickview-button { display: none; }
  #header-content .header-top .text-right > div.wishlist {
    padding: 0 3px;
  }
  #header-content .header-top .text-right > div.lang-block {
    padding-right: 5px;
  }
  #header-content .header-top .col-md-6.text-right {text-align: center;}
  .footer-logo-top .link-list-footer {
    margin-top: 15px;
  }
  .footer-logo-top .row > div {
    text-align: center;
  }
  .footer-logo-top .footer-icon-share {
    text-align: center;
  }
  body .product-list-item .short-description {
    display: none;
  }
  .col-fillter-product.col-md-3{width:300px}
  .ajax-success-cbox .content{width: 320px; padding-left: 15px; padding-right: 15px;}
  .ajax-success-cbox .content .mesage-cart{    width: 100%; font-size: 15px; padding-top: 0px;}
  .ajax-success-cbox .button-link-cart{    float: left; text-align: center; width: 100%;}
  .ajax-success-cbox .content .button-link-cart .view-cart{float: left; margin-bottom: 10px; margin-right: 10px;}
  .ajax-success-cbox .content .btn{    float: left;}
}
/* width: 970px  */
@media (min-width: 992px){
  .col-sidebar-right .filter-collection-left{display:none;}
  .row.col-sidebar-right .col-fillter-product,.row.col-sidebar-left .col-fillter-product{    position: relative;left:0}
  .row.col-sidebar-right .col-fillter-product #filter-sidebar{overflow-y:unset;}
}
@media (min-width: 992px) and (max-width: 1199px) {
  .col-sidebar-right .col-main{padding:0;}
  body #block-top .block-item .block-icon{width:50px;}
  body #block-top .block-item .block-icon i{font-size:30px;}
  body #block-top .block-item{min-height:120px;padding-bottom:5px}
  body #block-top .block-item h3{letter-spacing:0;font-size:16px;}


  body .site-nav li.level-top{margin-right:20px}
  body .footer-top .social ul li a{margin-right:5px;}
  body .newsletter .input-group-field{width:100%;}
  body .main-slideshow .slide-des,body .allinone_bannerRotator_texts{top:15%}
  body .main-slideshow .slide-des .title,body .slideshow .content-slideshow h2,.breadcrumb h2{font-size: 50px; line-height: 1.2;}
  .banner-slide .slideshow .sbu-tile-slide {margin-top: 20px;}
  body .static-collection .content-slider h2,.block-top .static-collection p.price{font-size:18px;}
  body .main-slideshow .slide-des .slide-2{left:10%;}
  body .main-slideshow .slide-des .slide-1{left:40%;}
  /*body .main-slideshow .caption{width:520px;}*/
  .newsletter .input-group-field { width: 245px; }
  body .load-more-product .load-product .product-item{width:33.3%;}
  body .static-collection.item-2 .content-slider p, body .static-collection.item-3 .content-slider p{display:none;}
  .toolbar .btn-group { margin-left: 15px; }
  body #header-inner-right{position:absolute;right:0;z-index:10;width:20%;padding:0;}
  .static-collection .block-content{padding:20px 30px 20px;}
  div#carousel-top .newsletter{padding: 40px 30px 30px;    border: 15px solid #f2f2f2;}
  div#carousel-top .newsletter .title-top { margin-bottom: 25px;}
  .site-nav a{font-size: 12px;}

  body .product-list .grid-item .product-image{width:36%}
  body .product-list .grid-item .product-content{width:61%}
  .product-content h3 a { min-height: 40px;/* display: inline-block;*/vertical-align: top; line-height: 20px; }
  .product-quickview .product-tabs .nav.nav-tabs > li > a {  margin: 0 17px;}
  .product-quickview .product-content { width: 835px;height:576px;}

  #header-content .menu-top .site-nav li.level-top.active:hover ul a, #header-content .menu-top .site-nav li.level-top.active:focus ul a,
  #header-content .menu-top .site-nav .dropdown-sub ul li a{font-size:11px;line-height:26px}
  #header-content .menu-top .site-nav li.level-top { padding: 0 12px;}
  .grid-item .product-image .add-to-link div.add-to-cart span:before, span.add-cart:before{margin-left:-67px;}

  .aboutus .about-our-team h2 {font-size: 60px;}
  .about-brand .content-brand .about-content p:last-child {max-height: 145px;}
  .about-brand .content-brand .about-content p:first-child {max-height: 120px;}
}
@media (min-width: 992px) and (max-width: 999px) {
  .grid-item .product-image .add-to-link div.add-to-cart span:before, span.add-cart:before {  margin-left: -60px;}
  .grid-item.product-item.col-md-4.col-sm-4.col-xs-12 span.add-cart:before{margin-left:63px;}
}
@media (min-width: 1025px){
  .block-megamenu-content:hover #verticalmenu,.template-index .header.is-ticky .block-megamenu-content:hover #verticalmenu {
    opacity: 1;
    margin-top: 0;
    visibility: visible;
    animation-delay: 100ms;
    animation-duration: 340ms;
    animation-fill-mode: both;
    animation-name: animation_vertial_categories;
    backface-visibility: hidden;
    display: block;
  }
  .template-index .header.is-ticky .block-megamenu-content #verticalmenu {opacity: 0;visibility: hidden;}
  .is-ticky{ background: #fff none repeat scroll 0 0;
    position: fixed;left:0;
    top: 0;z-index: 9999;box-shadow: none;
    width: 100%;
  }
  #menu-vertical #verticalmenu .navbar-nav > li .dropdown-menu {
    backface-visibility: hidden;
    left: 100% !important;
    list-style: outside none none;
    margin-left: 0;
    padding-left: 15px;
    margin-top: 0;
    min-height: 70px;
    border: 0;
    border-top: 2px solid;
    box-shadow: none;
    opacity: 0;
    right: auto !important;
    top: 0;
    min-width: 230px;
    transform-origin: 0 100% 0;
    visibility: hidden;
    border: 0;
    border-radius: 0;
    z-index:999;
    height: 470px;
  }
  #menu-vertical #verticalmenu .navbar-nav > li.dropdown:hover .dropdown-menu {
    visibility: visible;
    top: -1px;
    opacity: 1;
    transition: all 0.3s ease-in-out 0s;
    animation-delay: 100ms;
    animation-duration: 340ms;
    animation-fill-mode: both;
    animation-name: animation_vertical_menu;
  }
  .template-index .header.is-ticky .block-megamenu-content #verticalmenu {
    opacity: 0;
    visibility: hidden;
  }
  .template-index .header.is-ticky .block-megamenu-content:hover #verticalmenu {
    opacity: 1;
    visibility: visible;
  }
  .header.is-ticky .header-body {
    display: none;
  }
  .tabs-product .nav-tabs {
    display: block !important;
    overflow: visible !important;
  }
  .tabs-product .show-tabs {
    display: none;
  }
  .toggle-menu {
    display: none;
  }
  .search-none {display: none;}
  .icon-search,div#search-top .search-close {
    display: none;
  }
  div#search-top .search-form {
    display: block !important;
    position: inherit;
    border: 0;
    width: 100%;
    background: transparent;
  }
}
@media (max-width: 1024px){
  .header-cart #dropdown-cart {display: none;}
  .header.is-ticky {display: static;}
  #verticalmenu { position: inherit;}
  #menu-vertical #verticalmenu .navbar-nav > li.open .dropdown-menu {
    left: 0 !important;
    top: 1px;
    position: relative;
    height: auto;
    opacity: 1;
    visibility: visible;
    width: 100% !important;
  }
  #menu-vertical #verticalmenu .navbar-nav > li .dropdown-menu {
    backface-visibility: hidden;
    left: 0 !important;
    list-style: outside none none;
    margin-left: 0;
    margin-top: 0;
    border-top: 2px solid;
    box-shadow: none;
    opacity: 0;
    right: auto !important;
    top: 0;
    min-width: 230px;
    transform-origin: 0 100% 0;
    visibility: hidden;
    border: 0;
    height: 0;
    border-radius: 0;
    z-index: 999;
    position: relative;
    transition: all 0s;
    transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
  }
  .block-megamenu {
    width: 100%;
    padding: 0 15px;
  }
  .block-megamenu .nav-verticalmenu i.fa-angle-right {
    font-size: 24px;
  }
  .nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: transparent;
    border-color: transparent;
  }
  #menu-vertical #verticalmenu img {display: none;}
  #verticalmenu {
    position: initial;
    margin-bottom: 20px;
  }
  .banner-slide {
    padding-left: 15px;
    margin-left: 0;
    width: 100%;
  }
  div#search-top .search-close {
    position: absolute;
    right: 40px;
    top: 61px;
    cursor: pointer;
    z-index: 99999;
  }
  #header-content .header-body {position: relative;}
  div#search-top .search-form {
    background: #fff none repeat scroll 0 0;
    display: block;
    height: 50px;
    position: absolute;
    right: 0;
    top: 45px;
    z-index: 8880;
    width: 100%;
    padding: 0 15px;
}
  #search-top .input-group {
    width: 100%;
}
  #search-top .input-group .input-group-field {
    transition: all 0.3s ease-in-out 0s;
    min-width: 100%;
    font-size: 14px;
    letter-spacing: 0.4px;
    width: 100%;
    margin: 0;
    padding: 0 10px 0 40px;
    height: 46px;
        border: 1px solid #ebebeb;
    color: #bcbbb9;
    padding-right: 60px;
    position: absolute;
    top: -12px;
    left: 0;
    z-index: 8;
    display: block;
    background: transparent;
}
  #search-top .input-group .input-group-btn {display: none;}
  #search-top.active .search-form,#search-top.active .search-close {display: block !important;}
  #search-top .search-close{display: none;}
  #search-top.active .icon-search {opacity: 0;}
  #header-content .header-bottom {height: 0;}
  .toggle-menu {
    display: block;
  }
  .newsletter {
    padding: 30px 0;
  }
  .home-social {
    padding: 0 15px 30px;
    text-align: center;
  }
  .icon-bar {
    font-size: 24px;
    line-height: 50px;
    text-align: right;
    padding-right: 15px;
    cursor: pointer;
  }
  .tabs-product-home .nav.nav-tabs {
    padding: 10px 0;
    position: absolute;
    min-width: 250px;
    max-width: 300px;
    width: 100%;
    text-align: left;
    height: auto;
    background: #fff;
    z-index: 9999;
    right: 30px;
    top: 51px;
    box-shadow: 0 0 6px 0 rgba(1,1,1,.3);
  }
  .tabs-product-home .nav-tabs > li {
    display: block;
    border: 0 !important;
    background: transparent !important;
    line-height: 35px;
  }
  .header-body .header-top-right i {line-height: 0;padding-top: 20px;}
  .header-body a#cartToggle .top-icon-cart {
    background: transparent;
    border: 0;
    width: auto;
    height: auto;
    border-radius: 0;
  }
  div#search-top i {
    font-size: 20px;
    color: #252525;
    cursor: pointer;
  }
  .search-right {
    text-align: right;
    float: right;
    position: static;
    margin-top: 5px;
  }
  #search-top.search-none {
    display: inline-block;
    vertical-align: middle;
    padding-top: 10px;
  }
  .header-top-right {
    float: none;
    display: inline-block;
    vertical-align: middle;
  }
  .search-none {display: block;}
  .header-tag,.menu-none,.header-body .text-cart-left {
    display: none;
  }
  .menu-action{display:none;}
  body .navbar-toggle{display:block;margin:0 auto;float:left;font-size:36px;padding: 5px 0;}
  #header-menu .menu-top{text-align:center;}
  .header-top-right .top-currency .ion-navicon:before {content: "\f43c";} 
  .main-slideshow .slide-des .title::before, body .slideshow .content-slideshow h2::before {border-bottom: 3px solid #ff66cc;bottom: -5px;}


}
@media (max-width: 991px){ 
  #header-content .header-top .header-top-text {display: none;}
  .tabs-product-home .owl-theme .owl-controls,.home-blog .owl-theme .owl-controls {
    display: block !important;
  }
  .home-blog .owl-theme .owl-pagination {display: none;}
  .color-block-icons {
    margin-bottom: 20px;
  }
  .block-megamenu .nav-verticalmenu {
    margin: 0 0 15px;
  }
  .block-megamenu,.banner-slide {padding: 0 15px;}
  .col-md-4.total-page { text-align: left; clear: both;display:none}
  .show-fillter .col-fillter-product{padding:0}
}


@media (min-width: 768px) and (max-width: 810px) {
  home #owl_tabnew.owl-carousel { padding: 0 70px;}
  .tabs-product-home .owl-theme .owl-controls .owl-next { right: 38px;}
  .tabs-product-home .owl-theme .owl-controls .owl-prev {  left: 35px;}
}
/* width: 750px  */
@media (min-width: 768px) and (max-width: 991px) {

  .block-bottom-sidebar .content-block-left{bottom:13px}
  a.let{font-size:13px;line-height:20px;padding:4px 0}

  .col-main.col-md-9 .related-products .add-to-link{display:none}

  .product-quickview .product-content {width: 630px;height:550px}
  .product-quickview .product-tabs .nav.nav-tabs > li > a {  margin: 0 8px;  font-size: 13px;letter-spacing: 0;}
  .product-quickview .product-shop .prices {   margin-top: 8px; margin-bottom: 0;}
  .product-quickview .product-tabs .nav-tabs { margin-top: 8px;}
  .product-quickview .product-shop .quantity{height:44px;width:44px;    font-size: 18px;}
  .related-products .add-to-link .quickview-button{display:none}

  body#products .grid-item.product-item.col-md-4 .variants .btn,body#products .grid-item.product-item.col-md-4 .variants .btn:hover{ padding: 0 7px 0 13px; font-size: 9px;}
  body#products .grid-item.product-item.col-md-4.col-sm-6 .variants .btn,body#products .grid-item.product-item.col-md-4.col-sm-6 .variants .btn:hover{  font-size: 10px;}
  #products .grid-item.product-item.col-md-4.col-sm-6 .product-image .add-to-link div.add-to-cart span:before{    margin-left: -58px;}
  #products .grid-item .product-image .add-to-link div.add-to-cart span:before{    font-size: 15px;    top: 16px;  margin-left: -48px;}
  #products .grid-item .add-to-link .wishlist span i { font-size: 13px;}
  #products .quickview-button a,#products .add-to-link .quickview-button a:hover{font-size:17px}
  #products .quickview-button a i,#products .add-to-link .quickview-button a:hover i{    position: relative; top: 2px;}

  .logo h1 {  margin-bottom: 10px;  margin-top: 9px;}
  .page-error .main-content .icon{margin-top:200px}
  .page-error .main-content{margin-bottom:170px}
  body .product-list .grid-item .product-image, body .product-list .grid-item .product-content{width:49%}

  body .owl-theme .owl-controls .owl-prev{left:8px;}
  body .owl-theme .owl-controls .owl-next{right:8px;}


  .collection-title h3.h5 { font-size: 18px; }


  .product-item .btn{padding:0 8px;}
  .refined-widgets > a { float: left; }

  .toolbar .view-mode label { display: none; }
  .toolbar .view-mode { margin: 16px 8px 16px 16px; }  




  /* cart page */
  .cart-row .btn { font-size: 12px; padding: 0 10px; }

  /* contact page */


  #get-rates-submit { padding: 0 10px; }

  body .site-nav a{font-size: 12px;    letter-spacing: 0;}
  .block-top .static-collection .block-content{padding:20px;line-height:18px}



}

@media (max-width: 1024px) {
  .typo-slider .rev_slider_0 .typo-title {
    padding: 15px 8px !important;
  }
  #offcanvas .navbar-nav li a { text-transform: uppercase; font-weight: 400;    line-height: 26px;}
  #offcanvas .navbar-nav li ul a{    font-weight: 400;font-size: 12px;}

}
@media (max-width: 999px) and (min-width: 768px){


}
@media (max-width: 999px){


}
@media (max-width: 991px) and (min-width: 768px){
  .block-top .static-collection .block-content .content-slider {
    font-size: 12px;
    line-height: 25px;
  }
  .block-top .item-3 .static-collection .block-content {
    bottom: 0;
    right: 15px;
  }
  .block-top .static-collection .block-content h3.block-title {
    font-size: 16px;
    line-height: 20px;
  }
}

@media (min-width: 768px) {

}

.zoomWrapper {
  display: block;
  height: 100% !important;
  width: 100% !important;
}
/* width: 100%  */


@media (max-width: 767px) {
  .footer-container .footer-bottom address,.paypal-footer {text-align: center;}
  .home-social .footer-icon-share a {
    width: 35px;
    height: 35px;;
    line-height: 35px;
  }
  .home-social .footer-icon-share {padding-left: 0;}
  .newsletter .content {
    width: 100%;
  }
  .newsletter h3 {
    float: none;
    display: block;
    text-align: center;
  }
  .typo-slider .rev_slider_0 .typo-title {
    font-size: 30px!important;
    line-height: 46px!important;
    border: 0 !important;
    padding: 0 !important;
  }
  .typo-slider .rev_slider_1 .typo-subtitle {
    font-size: 24px!important;
    line-height: 26px!important;
  }
  .typo-slider .rev_slider_1 .typo-title {
    font-size: 33px!important;
    line-height: 26px!important;
  }
  .typo-slider .rev_slider_1 .typo-content {
    font-size: 24px!important;
    line-height: 26px!important;
  }
  .typo-slider .rev_slider_2 .typo-title {
    font-size: 30px!important;
    line-height: 26px!important;
  }
  body #popup-newsletter{display:none!important;}
  .zoomContainer {display: none !important;visibility: hidden!important;} a#placeholder{display: inline-block; width: 100%;position: relative;}
  a#placeholder:before { content: "";height: 100%;width: 100%; position: absolute;top: 0;left: 0; z-index: 1;}
  #offcanvas .navbar-nav li a{    text-transform: uppercase;    font-weight: 400;}
  #offcanvas .navbar-nav li ul a{font-weight:400;font-size:12px;}
  #cart table tr td, #cart table th{padding:5px;}
  #cart table tr td img{max-width:80%;}
  #cart table .tc.item-quantity{width:30px;padding:0;text-align:center;}

  .toolbar-mode .col-md-4.hidden-sm.hidden-xs{width:100%}
  .toolbar-mode .hidden-xs { margin: 5px 0; display: block !important; width: 50%; overflow: hidden; float: left;}
  .toolbar .browse-tags { text-align: left;display:none}
  .collection-view { line-height: 39px; text-align: right;float: right;}
  .toolbar-mode .col-md-4.hidden-sm.hidden-xs{text-align:left;}

}


@media (max-width: 730px) {

}
@media (max-width: 567px) {

}
@media (max-width: 530px) {
  .product-deal .timeline > i,.product-deal .timeline .timeline-block > div {
    width: 52px;
  }
  .typo-slider .rev_slider_1 .typo-subtitle {
    font-size: 18px!important;
    line-height: 20px!important;
  }
  .typo-slider .rev_slider_1 .typo-title {
    font-size: 22px!important;
    line-height: 24px!important;
  }
  .typo-slider .rev_slider_1 .typo-content {
    font-size: 18px!important;
    line-height: 26px!important;
  }
  .typo-slider .rev_slider_2 .typo-subtitle {
    font-size: 18px!important;
    line-height: 20px!important;
    letter-spacing: 0 !important;
  }
  .typo-slider .rev_slider_2 .typo-title {
    font-size: 22px!important;
    line-height: 24px!important;
  }
  .typo-slider .rev_slider_2 .typo-content {
    font-size: 18px!important;
    line-height: 20px!important;
  }
  .typo-slider .rev_slider_0 .typo-title {
    font-size: 22px!important;
    line-height: 40px!important;
  }
  .typo-slider .rev_slider_0 .typo-subtitle {
    font-size: 18px!important;
    line-height: 22px!important;
    letter-spacing: 0 !important;
    text-transform: capitalize;
    font-weight: normal;
  }
  .typo-slider .rev_slider_0 .typo-content {
    font-size: 18px!important;
    line-height: 22px!important;
  }
  .typo-slider .rev_slider_0 > div {
    left: 10% !important;
    right: auto !important;
  }
}

@media (max-width: 499px) {  

}
@media (max-width: 479px) {  
  .product-deal .timeline {
    float: left;
    margin-bottom: 10px;
  }
  #header-content .header-top .text-right .currency-title {display: none;}
}
@media (max-width: 360px) {
  .logo-container {padding: 0;}
  .icon-search {
    padding-top: 5px;
  }
  #search-top.search-none {padding-top: 5px;}
  .product-deal .timeline > i {display: none;}
  .is-ticky .logo-sticky {margin-top: 8px;}
  .header-body .header-top-right i {font-size: 18px;}
  .logo {
    margin-top: 5px;
  }
}
@media (min-width: 600px) and (max-width: 767px) {
  .products-grid .grid-item.product-item.col-xs-12 { width: 50%;}
  .products-grid .grid-item.product-item.col-md-6.col-sm-6.col-xs-12 { width: 50%;}
  .products-grid .grid-item.product-item.col-md-3.col-sm-3.col-xs-12 { width: 50%;}
}

@media (min-width: 480px) and (max-width: 767px) {body .product-list-item .short-description{display:none}}
@media (min-width: 481px) and (max-width: 767px) {
  .bestseller-homepage .col-lg-3.col-md-4.col-sm-6.col-xs-12 { width: 50%;}
}
.product-grid-isotope.product-list-item{height:auto!important;}
.rte img{display:none;}